@using sailing17Mobile.Models
@using sailing17Mobile.Models.Customer
@{
    Layout = null;
    Customer customer = ViewData["customer"] == null ? Model : (Customer)ViewData["customer"];
    
    string curpage_action = ViewContext.RouteData.Values["action"].ToString();
    string customer_code = customer.customer_code;
    string customer_id = customer.customer_id;
    
    //链接列表
    //链接名称 , 链接action
    List<Link> links = new List<Link>{
        new Link {text="简介" , action="about"} , 
        new Link {text="新闻" , action="news"} , 
        new Link {text="船期" , action="plan"} , 
        new Link {text="下载" , action="download"} , 
        new Link {text="滚动" , action="five"}    
    };
    
    //string controller = ViewContext.RouteData.Values["controller"].ToString();

}
<style>
.splitpage {margin-bottom:2px;line-height:48px;}
.splitpage table {width:100%;border-collapse:collapse;}
.splitpage td {width:20%;padding:0;border:0;border-left:#fff solid 2px}
.splitpage td a {display:block;background:#eee;text-align:center;font-size:18px}
.splitpage td a.current {background-color:#ffcc00;font-weight:bold}
.splitpage td a:hover {background-color:#ff6600;color:#fff}
.splitpage td.first {border:0}

</style>
<!--客户导航--> 
<div class='splitpage'>
    <table>
        <tr>
        @for(var i = 0 ; i < links.Count() ; i++){
            Link link = links[i];
            string url = Url.Action(link.action,new {
                code = customer_code
            });
            <td class="@(i==0 ? "first" : "")">
                <a href='@url' class="@(curpage_action.ToLower().IndexOf(link.action) > -1 ? "current" : "")">
                @link.text
                </a>      
            </td>
        }
        </tr>
    </table>
</div>
@Scripts.Render("~/script/jquery.waypoints.js" , "~/script/jquery.waypoints-sticky.js")
<script>
    jQuery(function ($) {
        $('.splitpage').waypoint('sticky');
    });
</script>