@{
    ViewBag.Title = ViewBag.pagelocation = "客户船期信息";
}
<section class='maincontent'>
@Html.Partial("nav" , ViewData)
<div style="padding:10px;line-height:180%;font-size:16px">
@ViewBag.dts
</div>
</section>
