@{
    ViewBag.Title = "首页";
    //链接
    string[,] links = { 
        {"我的定舱" , "user" , "myorder"} , 
        {"船期信息" , "ship" , ""} , 
        {"码头服务" , "port" , ""} , 
        {"我的押金" , "user" , "mymoney"} , 
        {"进出口查询" , "ie" , "query"} , 
        {"个人信息" , "user" , ""} 
    };
    //客户
    string[] customers = { "msc" , "cmacgm" , "maersk" , "evergreen" , "cnc"};
}
	<div class='news clearfix'>
		<a href="#" class='iconblock fl'>N</a>
		<div class='fr'>
			<div class='iconblock fl'>2</div>
			<div class='iconblock fl' style='margin-right:0'>3</div>
		</div>
		<div class='list'>
			<a href='#'>印度国航（SCI）接收2艘巴拿马型散货船印度国航（SCI）接收2艘巴拿马型散货船</a>
		</div>
	</div>

	<dl style="padding:0;margin:0;list-style:none;" class="clearfix">
    @for (int i = 0; i < links.GetLength(0);i++ ) { 
        <dd class ="a@(i+1) @( (i+1) % 3 == 0 ? "last" : "")"><a href="@Url.Action(links[i,2] , links[i,1])"><p>@links[i,0]</p></a></dd>
    }
	</dl>

	<div class='customer'>
		<p>船舶五日滚动协同动态</p>
		<ul class="clearfix">
        @foreach (var c in customers) { 
            <li class="c_@(c)"></li>
        }
		</ul>
	</div>