@{
    ViewBag.Title = "首页";
}

	<div class='news clearfix'>
		<a href="#" class='iconblock fl'>N</a>
		<div class='fr'>
			<div class='iconblock fl'>2</div>
			<div class='iconblock fl' style='margin-right:0'>3</div>
		</div>
		<div class='list'>
			<a href='#'>印度国航（SCI）接收2艘巴拿马型散货船印度国航（SCI）接收2艘巴拿马型散货船</a>
		</div>
	</div>

	<dl style="padding:0;margin:0;list-style:none;" class="clearfix">
		<dd class='a1'><div><p>我的定舱</p></div></dd>
		<dd class='a2'><div><p>船期信息</p></div></dd>
		<dd class='a3 last'><div><p>码头服务</p></div></dd>
		<dd class='a4'><div><p>我的押金</p></div></dd>
		<dd class='a5'><div><p>进出口查询</p></div></dd>
		<dd class='a6 last'><div><p>个人信息</p></div></dd>
	</dl>

	<div class='customer'>
		<p>船舶五日滚动协同动态</p>
		<ul class="clearfix">
			<li class="c_msc"></li>
			<li class="c_cmacgm"></li>
			<li class="c_maersk"></li>
			<li class="c_evergreen"></li>
			<li class="c_cnc" style="margin:0"></li>
		</ul>
	</div>